In [1]:
import numpy as np
import pandas as pd

Load the dataset first

In [2]:
df = pd.DataFrame({
    'Date': ['2023-07-01', '2023-07-01', '2023-07-01', '2023-07-02', '2023-07-02', '2023-07-02', '2023-07-03', '2023-07-03'],
    'Product': ['Product A', 'Product B', 'Product A', 'Product B', 'Product C', 'Product A', 'Product C', 'Product B'],
    'Category': ['Category1', 'Category1', 'Category2', 'Category2', 'Category1', 'Category1', 'Category2', 'Category1'],
    'Quantity': [10, 5, 8, 12, 6, 7, 15, 9],
    'Revenue': [100, 50, 80, 120, 60, 70, 150, 90]
})



df

         Date    Product   Category  Quantity  Revenue
0  2023-07-01  Product A  Category1        10      100
1  2023-07-01  Product B  Category1         5       50
2  2023-07-01  Product A  Category2         8       80
3  2023-07-02  Product B  Category2        12      120
4  2023-07-02  Product C  Category1         6       60
5  2023-07-02  Product A  Category1         7       70
6  2023-07-03  Product C  Category2        15      150
7  2023-07-03  Product B  Category1         9       90

Q.1 Using pandas groupby, calculate the total revenue and total quantity sold for each product and category in the sales dataset.

In [4]:
 df.groupby(['Product', 'Category']).agg({'Revenue': 'sum', 'Quantity': 'sum'}).reset_index()

     Product   Category  Revenue  Quantity
0  Product A  Category1      170        17
1  Product A  Category2       80         8
2  Product B  Category1      140        14
3  Product B  Category2      120        12
4  Product C  Category1       60         6
5  Product C  Category2      150        15

Q.2 Using pandas groupby, find the date with the highest total revenue and the date with the highest total quantity sold.

In [5]:
pd.to_datetime(df['Date'])

0   2023-07-01
1   2023-07-01
2   2023-07-01
3   2023-07-02
4   2023-07-02
5   2023-07-02
6   2023-07-03
7   2023-07-03
Name: Date, dtype: datetime64[ns]

In [7]:
result = df.groupby('Date').agg({'Revenue': 'sum', 'Quantity': 'sum'}).reset_index()
max_revenue_date = result.loc[result['Revenue'].idxmax(), 'Date']
max_revenue_date

'2023-07-02'

In [9]:
result = df.groupby('Date').agg({'Revenue': 'sum', 'Quantity': 'sum'}).reset_index()
max_quantity_date = result.loc[result['Quantity'].idxmax(), 'Date']
max_quantity_date = result.loc[result['Quantity'].idxmax(), 'Date']
max_quantity_date

'2023-07-02'

In [10]:
df['Date'] = pd.to_datetime(df['Date'])
result = df.groupby('Date').agg({'Revenue': 'sum', 'Quantity': 'sum'}).reset_index()

max_revenue_date = result.loc[result['Revenue'].idxmax(), 'Date']

max_quantity_date = result.loc[result['Quantity'].idxmax(), 'Date']

print("Date with the highest total revenue:", max_revenue_date)
print("Date with the highest total quantity sold:", max_quantity_date)

Date with the highest total revenue: 2023-07-02 00:00:00
Date with the highest total quantity sold: 2023-07-02 00:00:00

Q.3 Using pandas groupby, calculate the average revenue per day for each product and category.

In [11]:
df['Date'] = pd.to_datetime(df['Date'])
average_revenue_per_day = df.groupby(['Date', 'Product', 'Category']).agg({'Revenue': 'mean'}).reset_index()
average_revenue_per_day

        Date    Product   Category  Revenue
0 2023-07-01  Product A  Category1    100.0
1 2023-07-01  Product A  Category2     80.0
2 2023-07-01  Product B  Category1     50.0
3 2023-07-02  Product A  Category1     70.0
4 2023-07-02  Product B  Category2    120.0
5 2023-07-02  Product C  Category1     60.0
6 2023-07-03  Product B  Category1     90.0
7 2023-07-03  Product C  Category2    150.0